body {
  text-align: center;
}
.tictactoe {
  max-width: 40em;
  /* max-height: 30em; */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */ /* This happens inline */
  grid-gap: 1px;
  background-color: darkgrey;
  margin: 0 auto;

  animation: fadeIn linear 1s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 2em;
  background-color: white;
  aspect-ratio: 1;
  user-select: none;
}
.historyList {
  width: 20em;
  margin: 0 auto;
  text-align: left;
}
.win {
  color: white;
  background-color: red;
}
